@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');


body, ul,h3, p{
    margin: 0;
    font-family: Roboto; 
}

/* Header */

ul {
    display: flex;
    margin: 0;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.container > *{ 
    padding: 128px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px 128px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.cont {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

/* First Part */

.oneheader{
    margin: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.one {
    display: flex;
    background-color: #1f2937;
    gap: 32px;
    justify-content: center;
}


.one-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;

}
.placeholder {
    width: 50%;
    background-color: #e5e7eb;
}


.headerp {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.one-cont {
    display: flex;
    max-width: 900px;
    gap: 16px;
}

/* Cards Part */

.two {
    display: flex;
    justify-content: center;
}

.twoheader {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 0px;
    max-width: 900px;

}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 200px;
}

.image {
    border: 2px #3882f6 solid;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 16px;
}

/* Quote Part */

.three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}


.containerthree {
    padding: 32px;
    max-width: 900px;
}


em {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    
}

.author {
    font-weight: bolder;
    text-align: end;
}

/* Call to Action Part */

.four {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.box {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    justify-content: space-between;
    width: 900px;
    border-radius: 5px;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    padding: 32px;
}

.sign-up {
    border: 1px #f9faf8 solid;
}

.buttoncss {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 32px;
}

/* footer */ 

footer {
    padding: 32px;
    text-align: center;
    color: #f9faf8;
    background-color: #1f2937;
}

